{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Delete{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'images/bg-01.jpg' %});">
                <span class="login100-form-title-1">
                    Delete
                </span>
            </div>

            <form method="POST" class="login100-form validate-form">
                {% csrf_token %}
                <h3>Do you want to delete {{ object.username }}?</h3>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
