{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}"> Administration </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"> Sing In </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}"> Sing Up </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <div class="row align-items-center">
            <div class="col-md-4 order-md-2 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your profile {{ user.username }}</span>
                <i class="fas fa-id-card"></i>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Name</h6>
                        <small class="text-muted">{{ user.first_name }} {{ user.last_name }}</small>
                    </div>
                    <i class="fas fa-user"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">E-Mail</h6>
                        <small class="text-muted"> {{ user.email }} </small>
                    </div>
                    <i class="fas fa-at"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Address</h6>
                        <small class="text-muted"> {{ user.address }} </small>
                    </div>
                    <i class="fas fa-map-marker-alt"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Telephone</h6>
                        <small class="text-muted"> {{ user.telephone }} </small>
                    </div>
                    <i class="fas fa-phone"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <span class="mt-2">Do you want to edit your user?</span>
                    <a href="{% url 'userupdate' user.id %}" class="btn btn-light"> <i class="far fa-edit"></i> </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1 mb-3">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex bg-light">
                    <div class="text-center">
                        <p class="lead">
                            Welcome!<br>
                            {% load permission_tags %}
                            {% if user|has_role:'supervisor' %}
                                You have supervisor's permissions and you can manage class rooms and users.<br><br>
                                <div class="text-center">
                                    <a class="btn btn-success" href="{% url 'classrooms' %}">Class Rooms</a>
                                    <a class="btn btn-success" href="{% url 'users' %}">Users</a>
                                </div><br><br>
                            {% endif %}
                            {% if user|has_role:'teacher' %}
                                You have teacher's permissions and you belongs to {{ user.classroom }}.<br><br>
                                <div class="text-center">
                                    <a class="btn btn-success" href="{% url 'users' %}">Students</a>
                                </div><br><br>
                            {% endif %}
                            {% if user|has_role:'student' %}
                                You have student's permissions and you belongs to {{ user.classroom }}.<br><br>
                                <div class="text-center">
                                    <a class="btn btn-success" href="#">Tasks</a>
                                </div><br><br>
                            {% endif %}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
    
{% endif %}
{% endblock %}
